@model HMS.Models.Doctors
@using HMS.Extensions
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

<br />
<h2 class="text-info">Детали за доктор</h2>

<form method="post">
    <div class="p-4 border rounded row">
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Фокус</label>
                </div>
                <div class="col-8">
                    <input asp-for="Focus" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PhoneNumber" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Specialties"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Specialties.Name" class="form-control" readonly />
                </div>
            </div>
            @if (!Model.SubSpecialties.Name.Equals("--None--"))
            {
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SubSpecialties"></label>
                </div>
                <div class="col-8">
                    <input asp-for="SubSpecialties.Name" class="form-control" readonly />
                </div>
            </div>
            }
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    @{
                        bool isInBag = false;
                        List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");
                        if (lstCart != null && lstCart.Contains(Model.Id))
                        {
                            isInBag = true;

                        }
                    }

                    @if (isInBag)
                    {
                        <button type="submit" value="Remove From Bag" asp-action="remove" asp-route-id="@Model.Id" class="btn btn-danger form-control">Откажи термин</button>

                    }
                    else
                    {
                        //added if
                        if (Model.Available == true)
                        {
                            <button type="submit" value="Add to Bag" asp-route-id="@Model.Id" class="btn btn-primary form-control">Закажи термин</button>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
            <br /><br />
           
        </div>


        <br />
        <div class="form-group">
            <input hidden asp-for="Id" />
            <a asp-action="Index" class="btn btn-success">Назад кон листа</a>
        </div>
    </div>
</form>

