
@{
    ViewData["Title"] = "Support";
}


    <div class="jumbotron">
        <h1 class="display-4">Поддршка</h1>
        <p class="lead">Со цел да ги насочиме барањата за поддршка и подобро да ви служиме, ние користиме систем на билети за поддршка. На секое барање за поддршка е доделен единствен број на билет што можете да го користите за да го следите напредокот и одговорите на билетот.</p>
       
        <a class="btn btn-primary btn-lg" target="_blank" href="http://localhost/osTicket/?lang=mk" role="button">Систем за поддршка - HMS</a>
    </div>



