@using Microsoft.AspNetCore.Http
@using HMS.Extensions
@using HMS.Utility

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HMS</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </environment>


    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=8921c62b-3fd9-4364-85bf-1ae24719cb12"></script>
    <!-- End of  Zendesk Widget script -->

</head>
<body>
    <article id="container">

        <header id="main-nav" style="height: 90px">
            <div id="bun"><div class="mmm-burger"></div></div>
            <a asp-area="Customer" asp-controller="Home" asp-action="Index"><img src="~/images/HMSM -logo.png" class="img-responsive mr-4 center" width="90" height="90" /></a>
        </header>

    </article>
    <br /> <br />
    <aside id='sidebar'>
        <nav id='mobile-nav'>

            <ul>
                <partial name="_LoginPartial" />
                <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Почетна</a></li>

                @if (User.IsInRole(SD.SuperAdminEndUser))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Specialties" asp-action="Index">Специјалности</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="SubSpecialties" asp-action="Index">Субспецијалности</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Doctors" asp-action="Index">Доктори</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">Администратори</a></li>
                }
                @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Appointments" asp-action="Index">Термини</a></li>
                }
                @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
                {
                    <li class="nav-item">
                        <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                            <i class="fas fa-notes-medical "></i>
                            @{
                                var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count;
                            }
                            (@count)
                        </a>

                    </li>

                }
                else
                {
                    <li style="color:white" class="nav-item">
                        <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                            <i class="fas fa-notes-medical"></i>

                            (0)
                        </a>

                    </li>

                }
                <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Support">Поддршка</a></li>
            </ul>


        </nav>
    </aside>

    <partial name="_CookieConsentPartial" />

    <footer class="container body-content site-footer">
        @RenderBody()
        <div class="footer">
            <div id="button"></div>
            <div id="container">
                <div id="cont">
                    <div class="wrapper">
                        <section class="columns mb-0">
                            <div class="column">
                                <ul style="list-style: none;">
                                    <li>
                                        Локација
                                        <i class="fas fa-map-marker-alt"></i>
                                    </li>
                                    <li>
                                        <p>Даме Груев 7, Скопје</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="column">
                                <ul style="list-style: none;">
                                    <li>
                                        Телефон
                                        <i class="fas fa-phone"></i>
                                    </li>
                                    <li>
                                        <p>078444222</p>

                                    </li>
                                </ul>
                            </div>

                            <div class="column">
                                <ul style="list-style: none;">
                                    <li>
                                        Емаил
                                        <i class="fas fa-envelope-square"></i>
                                    </li>
                                    <li>
                                        <p>hmsm@outlook.com</p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <div class="text-center ">
                            <p>© 2019 HMSM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>
        <script src="~/js/isotope.pkgd.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>
        <script src="~/js/isotope.pkgd.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)


    @* Zendesk settings *@

    <script type="text/javascript">
        window.zESettings = {
            webWidget: {
                launcher: {
                    chatLabel: {
                        '*': 'Ви треба помош ?'
                    },
                    label: {
                        '*': 'Помош'
                    }
                }
            }
        };
    </script>

</body>
</html>