@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2>Уреди го твојот профил</h2>

<div>
    <h4></h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
            <br />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
