@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лични податоци";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Преземи копија од твоите податоци за да ги зачуваш или за да ги префрлиш на друго место.</p>
        <p>
            <strong>Бришењето на овие податоци трајно ќе ја отстрани вашата сметка.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Преземи</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-primary">Избриши</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}