@model HMS.Models.ViewModel.DoctorsViewModel
@using HMS.Extensions


<br />
<h2 class="text-info">Избриши доктор</h2>
<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Doctors.Id" />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Doctors.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Doctors.PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.PhoneNumber" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Specialties"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.Specialties.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SubSpecialties"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.SubSpecialties.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Doctors.Focus"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.Focus" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Doctors.Available"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" readonly class="form-control" asp-for="Doctors.Available" />
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Doctors.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>


        <br />
        <div class="form-group">
            <input type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete" value="Избриши">
            <a asp-action="Index" class="btn btn-success">Назад кон листа</a>
        </div>
        <div class="modal modal-danger fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="myModalLabel">Потврдете го бришењето</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>


                    <div class="modal-body">
                        <p class="text-center">
                            Дали сте сигурни дека сакате да го избришете докторот од листата?
                        </p>

                    </div>
                    <div class="modal-footer form-group">
                        <input type="submit" class="btn btn-danger" value="Избриши" />
                        <a asp-action="Index" class="btn btn-success">Назад кон листа</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>




@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

