@model HMS.Models.ViewModel.DoctorsViewModel
@using HMS.Extensions

<style>
    .modal-info .modal-header, .modal-info .modal-footer {
        border-color: #FF7851;
        color: white;
    }

    .modal-footer {
        padding: 15px;
        text-align: right;
        color: white;
        border-top: 1px solid #78C2AD;
    }
    .bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer{
        background-color: darksalmon !important;
        
    
    }
    .modal-info .modal-body {
        background-color: #FF7851 !important;
        color: white;
        border: 1px solid gray;
    }
    #delete > div > div > div.modal-footer.form-group{
        margin-bottom: 0px;
    }
    #myModalLabel{
        color: white;
        text-align: center;
    }

</style>

<br /><br />
<h2 class="text-info">Избриши доктор</h2><br />
<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Doctors.Id" />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Doctors.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Doctors.PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.PhoneNumber" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Specialties"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.Specialties.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SubSpecialties"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.SubSpecialties.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Фокус</label>
                </div>
                <div class="col-8">
                    <input asp-for="Doctors.Focus" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>Прима пациенти</label>
                </div>
                <div class="col-8">
                    @if (Model.Doctors.Available == true)
                    {
                        <i class="fas fa-check"></i>
                    }
                    else
                    {
                        <i class="fas fa-times"></i>
                    }
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Doctors.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>


        <br />
        <div class="form-group">
            <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" value="Избриши">
            <a asp-action="Index" class="btn btn-success">Назад кон листа</a>
        </div>
        <div class="modal modal-info fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="myModalLabel">Потврдете го бришењето</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>


                    <div class="modal-body">
                        <p class="text-center">
                            Дали сте сигурни дека сакате да го избришете докторот од листата?
                        </p>

                    </div>
                    <div class="modal-footer form-group">
                        <input type="submit" class="btn btn-danger" value="Да" />
                        <a asp-action="Index" class="btn btn-danger">Не</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>




@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

