@model IEnumerable<HMS.Models.Doctors>
@{
    ViewData["Title"] = "Index";
}


<br /><br />


<div class="row">

    <div class="col-6">

        <h2 class="text-info">Листа на доктори</h2>

    </div>

    <div class="col-6 text-right">

        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Додај доктор </a>

    </div>

</div>

<br />

<div class="row">


    @foreach (var doctor in Model)
    {

        <div class="col-4">

            <div class="card mb-4">

                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">

                        <label style="font-size:23px;color:steelblue;">@doctor.Name</label>

                    </h4>

                </div>



                <img class="card-img-top" style="height:100%;" src="@doctor.Image" alt="Card Image" />

                <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center">

                        <div class="btn-group">

                            <label style="font-size:20px; color:#a51313"><b>@doctor.PhoneNumber</b></label>

                        </div>

                        <partial name="_TableButtonPartial" model="doctor.Id" />

                    </div>

                </div>



            </div>

        </div>

    }
</div>


